.carousel_img {
    max-height: 700px;
}
body {
    overflow-x: hidden;
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black'  viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  
  height: 150px;
  width: 100px;
  background-color: white;
 }

.carousel-control-prev-icon {
    border-radius: 2px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' stroke='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    height: 150px;
    width: 100px;
    background-color: white;
}
nav {
    border-bottom: 2px solid white;
}
.nav-link {
    font-size: 25px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
@media (min-width: 992px) {
.navbar-float {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
}
}
.carousel-caption {
    bottom: 25%;
}
@media (min-width: 992px) { 
    #text_end {
        text-align: end;
    }
 }
.see_more {
    background-image: url(https://i.pinimg.com/originals/1a/e8/d9/1ae8d96dddf32e7e22eb23ff4593848d.jpg);
    background-size: cover;
    background-attachment: fixed;
}
